[submodule "Gists/Replace_text_in_a_table_in_C++"]
	path = Gists/Replace_text_in_a_table_in_C++
	url = https://gist.github.com/aspose-words-gists/0c6e4ebd55874aa8634f1d74d5ef492f
[submodule "Gists/Advanced_table_formatting_C++"]
	path = Gists/Advanced_table_formatting_C++
	url = https://gist.github.com/aspose-words-gists/aeee44b29c42f9e9404ce57a80305383
[submodule "Gists/Specify_table_position_in_C++"]
	path = Gists/Specify_table_position_in_C++
	url = https://gist.github.com/aspose-words-gists/eb66dfc4c4820add33be9df57ba4c4cd
[submodule "Gists/Table_formatting_in_details_using_C++"]
	path = Gists/Table_formatting_in_details_using_C++
	url = https://gist.github.com/aspose-words-gists/4f1d7039f19f9f49472a50cc0d0fc475
[submodule "Gists/Working_with_parts_of_a_table_using_C++"]
	path = Gists/Working_with_parts_of_a_table_using_C++
	url = https://gist.github.com/aspose-words-gists/08b4741d451b8f6519bcb0b916f18bb8
[submodule "Gists/How_to_make_a_table_in_C++"]
	path = Gists/How_to_make_a_table_in_C++
	url = https://gist.github.com/aspose-words-gists/aa87055754447c86ae5fb2d4766130f3
[submodule "Gists/Join_tables_in_C++"]
	path = Gists/Join_tables_in_C++
	url = https://gist.github.com/aspose-words-gists/e89b24cb8b77096687e8e6567018c087
[submodule "Gists/Split_table_in_C++"]
	path = Gists/Split_table_in_C++
	url = https://gist.github.com/aspose-words-gists/29ce7710cab8c3ef18e912a5813e0d36
[submodule "Gists/How_to_merge_table_cells_in_C++"]
	path = Gists/How_to_merge_table_cells_in_C++
	url = https://gist.github.com/aspose-words-gists/03b0c69804cda6427adc3f12cc6ba2d3
